#experience{
    display: flex;
    flex-direction: column;
}

#education{
    display: flex;
    flex-direction: column;   
}

#skills{
    display: flex;
    flex-direction: column;   
}

#interests{
    display: flex;
    flex-direction: column;
}

#awards{
    display: flex;
    flex-direction: column; 
}

#aColor{
    color: rgb(80, 81, 81);
}

#familia{
    font-size: 50px;
}